{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" role="main">
        <img class="profile-image" data-image-role="target" src="static/images/Fangyan1.jpg" alt="">
        <div>
          <p> Fangyan comes from China. At the age of 19, she got an opportunity to come to France for studies. Then comes her 8-year adventure in France and some other countries.</p>
          <p> Hobbies: singing, cycling, coding</p>
          <a href= "https://www.linkedin.com/in/fangyan-sun-ab529587/"> Linkedin </a>
        </div>
      </div>

      <div class="col-md-6" role="main">
        <img class="profile-image" data-image-role="target" src="static/images/Vincent1.jpg" alt="">
        <div>
          <p> Vincent comes from France. XXX</p>
          <p> Hobbies: Judo, football, coding</p>
          <a href= "https://www.linkedin.com/in/vincent-henric-6090665b/"> Linkedin </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="contact_form">
        {{ wtf.quick_form(form) }}
    </div>
  </div>

{% endblock %}
