{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}HomeTech - Welcome{% endblock %}

{% block page_content %}
  <div class="container-fluid">
   <div class="row">
     <div class="col-sm-9" role="main">
       <div id="myCarousel" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
           <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
           <li data-target="#myCarousel" data-slide-to="1"></li>
           <li data-target="#myCarousel" data-slide-to="2"></li>
           <li data-target="#myCarousel" data-slide-to="3"></li>
         </ol>

         <div class="carousel-inner">
           <div class="item active">
             <img src="static/images/FangyanVincent0.jpg" class="img-rounded" alt="">
           </div>
           <div class="item">
             <img src="static/images/FangyanVincent1.jpg" class="img-rounded" alt="">
           </div>
           <div class="item">
             <img src="static/images/FangyanVincent2.jpg" class="img-rounded" alt="">
           </div>
           <div class="item">
             <img src="static/images/FangyanVincent3.jpg" class="img-rounded" alt="">
           </div>
         </div>
       </div>

     </div>

     <div class="col-sm-3" role="complementary">
       <section>
         <h3>Recent articles:</h3>
         <div class="articles list-group">
           <a href="#" class="list-group-item">First article</a>
           <a href="#" class="list-group-item">Second article</a>
           <a href="#" class="list-group-item">Third article</a>
           <a href="#" class="list-group-item">Fourth article</a>
           <a href="#" class="list-group-item">Fifth article</a>
         </div>
       </section>
       <section>
         <h3>Recent projects:</h3>
         <div class="articles list-group">
           <a href="#" class="list-group-item">First project</a>
           <a href="#" class="list-group-item">Second project</a>
           <a href="#" class="list-group-item">Third project</a>
           <a href="#" class="list-group-item">Fourth project</a>
           <a href="#" class="list-group-item">Fifth project</a>
         </div>
       </section>
     </div>
   </div>
  </div>
{% endblock %}
