{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_macros.html" import render_field %}

{% block title %}Blog{% endblock %}

{% block page_content %}
  <div class="page-header">
    <h1>New article from {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
  </div>
    {% if current_user.can(Permission.WRITE) %}
      <div id="form-container" class="container">
          <div id="editor"></div>
      </div>
      <!-- <div style="visibility: hidden"> -->
      <div id="wtf-form">
        <form method="post">
          <dl>
            <div style="display: none">
              {{ render_field(form.body_html)}}
              {{ render_field(form.body_delta)}}
            </div>
            {{ render_field(form.submit)}}
          </dl>
        </form>
        <!-- {{ wtf.quick_form(form) }} -->
      </div>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  {% if current_user.can(Permission.WRITE) %}
  var options = {
    theme: 'snow',
    modules: {
      toolbar: [[{ 'header': [1, 2, 3, 4, 5, 6, false] }], ['bold', 'italic', 'underline', 'link'], ['image'], ['clean']]
    }
  };

  var quill = new Quill('#editor', options);
  // var form = document.querySelector('#editor-form');
  // var form = document.querySelector('#editor-button');
  // var postEditor = document.querySelector('#editor');
  var submit = document.querySelector('#submit');

  submit.addEventListener("click", function(e) {

    var html = quill.root.innerHTML;
    var delta = JSON.stringify(quill.getContents());
    var wtf_form = document.getElementById('wtf-form');
    document.getElementById("body_html").value = html;
    document.getElementById("body_delta").value = delta;
  }, false);

  // form.onclick = function() {
  //   var postEditor = document.querySelector('#editor');
  //   var html = quill.root.innerHTML;
  //   var delta = JSON.stringify(quill.getContents());
  //
  //   var wtf_form = document.getElementById('wtf-form');
  //   document.getElementById("body_html").value = html
  //   document.getElementById("body_delta").value = delta



    // wtf_form.children[0].submit()
    // wtf_form.submit()
    // document.getElementById("submit")
    // $(wtf_form).children('#body_html').value = html
    // $("wtf-form" > "#body_html").value = html
    // $("wtf-form" > "#body_delta").value = delta
  // }
  // form.onsubmit = function() {
  //   var postEditor = document.querySelector('#editor');
  //   var html = quill.root.innerHTML;
  //   var delta = JSON.stringify(quill.getContents());
  //   console.log('form submitted')
  //   $.post('/articles/new_article', {
  //       content_html: html,
  //       content_delta: delta
  //     });
  // }

  // var button = document.querySelector('#postsubmit');
  // function launch() {
  //   // var postEditor = document.querySelector('#editor');
  //   // var html = postEditor.children[0].innerHTML;
  //   var delta = JSON.stringify(quill.getContents());;
  //   var html = quill.root.innerHTML;
  //   $.post('/articles/new_article', {
  //     content_html: html,
  //     content_delta: delta
  //   });
  // };
  {% endif %}
</script>
{% endblock %}
